@font-face {
    font-family: ubuntu;
    src: url(../font/Ubuntu-Bold.ttf);
 }

 @font-face {
    font-family: ubuntu-regular;
    src: url(../font/Ubuntu-Regular.ttf);
 }

 @font-face {
    font-family: roboto-bold;
    src: url(../font/Roboto-Bold.ttf);
 }


body { 
    background-color: #000000;
}

p {
    color: #fff;
    font-family: ubuntu-regular;
    font-size: 21px;
    line-height: 24px;
    vertical-align: top;
    letter-spacing: -3%;
    margin-left: 10%;
    margin-right: 10%;
}

.f14{
    font-size: 14px;
    line-height: 16px;
    width: 310px;
}

.f17{
    font-size: 17px;
    line-height: 26px;
}



.center { 
    text-align: center;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 28px;
}

.logotipo {
    text-align: center;
    margin-top: 70px;
}

.ubuntu { 
    font-family: ubuntu;
    color: #fff;
}

.gradient {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(240,90,40,1) 0%, rgba(228,0,131,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-acesso{
    width: 791px;
    height: 52.1px;
    font-family: roboto-bold;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(240,90,40,1) 0%, rgba(228,0,131,1) 100%);
    border: 0;
}

.btn-acesso-small{
    width: 292px;
    height: 52.1px;
    font-family: ubuntu;
    font-size: 16px;
    line-height: 31px;
    color: #fff;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(240,90,40,1) 0%, rgba(228,0,131,1) 100%);
    border: 0;
    letter-spacing: -6%;
}

.pagamento-img{
    margin-top: 20px;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .m0 {
    margin-left: 0;
    margin-right: 0;
}

.tl{
    text-align: left;
}