@font-face {
    font-family: ubuntu;
    src: url(../font/Ubuntu-Bold.ttf);
 }

 @font-face {
    font-family: ubuntu-regular;
    src: url(../font/Ubuntu-Regular.ttf);
 }

 @font-face {
    font-family: ubuntu-light;
    src: url(../font/Ubuntu-Light.ttf);
 }

 @font-face {
    font-family: roboto-bold;
    src: url(../font/Roboto-Bold.ttf);
 }


body { 
    background-color: #000000;
}

.ul{
    font-family: ubuntu-light !important;
}

p {
    color: #fff;
    font-family: ubuntu-regular;
    font-size: 21px;
    line-height: 24px;
    vertical-align: top;
    margin-left: 10%;
    margin-right: 10%;
}

.f14{
    font-size: 14px;
    line-height: 16px;
    width: 310px;
}

.f17{
    font-size: 17px;
    line-height: 26px;
}



.center { 
    text-align: center;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 28px;
}

.logotipo {
    text-align: center;
    margin-top: 70px;
}

.ubuntu { 
    font-family: ubuntu;
    color: #fff;
    letter-spacing: -1px;
}

.gradient {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(240,90,40,1) 0%, rgba(228,0,131,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-white{
    text-align: left;
}

.btn-acesso{
    width: 791px;
    height: 52.1px;
    font-family: roboto-bold;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(240,90,40,1) 0%, rgba(228,0,131,1) 100%);
    border: 0;
    opacity: 1;
    transition: 0.5s;
}

button.btn.btn-acesso:hover {
    opacity: 0.7;
    transition: 0.5s;
    color: #fff;
}

.btn-acesso-small{
    width: 292px;
    height: 52.1px;
    font-family: ubuntu;
    font-size: 16px;
    line-height: 31px;
    color: #fff;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(240,90,40,1) 0%, rgba(228,0,131,1) 100%);
    border: 0;
    letter-spacing: 0px;
    opacity: 1;
    transition: 0.5s;
}

button.btn.btn-acesso-small:hover {
    opacity: 0.7;
    transition: 0.5s;
    color: #fff;
}

.carp{
    background: linear-gradient(
93.39deg, rgba(250, 64, 75, 0.09) -17.75%, rgba(255, 255, 255, 0.0486) 122.12%);
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 20px;
}

.carpb{
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 20px;
}

.pagamento-img{
    margin-top: 50px;
    width: auto;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .m0 {
    margin-left: 0;
    margin-right: 0;
}

.tl{
    text-align: left;
}

#section-comments-text {
    margin-top: -200px;
    z-index: 999;
    position: relative;
  }
.single-comment {
        background: rgba(255, 255, 255, 0.1);
        padding: 21px;
        width: 420px;
        margin: 10px;
  }
  
  .single-comment img {
    width: 70px !important;
    height: 70px !important;
    border: 2px solid rgba(228,0,131,1);
    padding: 3px;
  }
  
  .single-comment span {
    font-size: 20px;
    font-weight: bold;
  }
  
  .single-comment small {
    opacity: 0.5;
    margin-top: -3px;
  }

  .ml-3{
    text-align: justify;
    margin-left: 20px;
  }

  .ps{
    font-family: ubuntu-regular;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -1px
  }

  .pv{
    font-size: 3.9em;
    margin-top: 50px;
    font-family: 'ubuntu';
    margin-bottom: 30px;
  }

  .btn-acesso-v{
    width: 350px;
    height: 52.1px;
    font-family: roboto-bold;
    font-size: 17px;
    line-height: 28px;
    color: #fff;
    margin-top: 80px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(240,90,40,1) 0%, rgba(228,0,131,1) 100%);
    border: 0;
}

.wpp{
    font-family: ubuntu;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1px;
    color: #00A859;
}

.container{
    margin-bottom: 250px;
}

.ml50{
    margin-left: 50px;
}

.h1s3{
    text-align: left;
    margin-top: 200px;
}

.check{
    margin-left: 0;
}

@media (max-width: 768px) {
   
    .btn-acesso {
        width: 100%;
    }

    .ml50{
        margin-left: 0;
    }
    .h1s3{
        text-align: center;
        margin-top: 0px;
    }
    .tl{
        text-align: center;
    }
    .check{
        margin-left: auto;
    }
  }
  